/* CSS Document */
html,
body {
	height: 100%;
}
.bg-dark{
	color:#FFF;
}
textarea{
	height: 130px;
}
.form-control{
	background-color:transparent;
}
.form-control:focus{
  outline: none;
  background-color:transparent;
}

.rounded-1{
	border-radius:1px;
}
.icon-container-1x{
	width: 25px;
}
.opacity-3{
	opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */
}
.comment-bg{
	position:absolute;
	top:0px;
	bottom:0px;
	display:block;
	right:0px;
	left:0px;
}
.opacity-1{
	opacity: 1.0;
    filter: alpha(opacity=100s);
}
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;
}
#footer {
	height: 60px;
}




    